<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="curl" />
    <package id="nuget.commandline" />
    <package id="python3" />
    <package id="nodejs" />
    <package id="git" packageParameters="/NoShellIntegration /GitOnlyOnPath" />
    <package id="git-lfs" />
    <package id="hub" />
    <package id="cmake" />
    <package id="vlc" />
    <package id="mpv" />
    <package id="handbrake" />
    <package id="ffmpeg" />
    <package id="1password" />
    <package id="dropbox" />
    <package id="firefox" />
    <package id="googlechrome" />
    <package id="tor-browser" />
    <package id="vmware-workstation-player" />
    <package id="visualstudio2017community" />
    <package id="visualstudio2017-workload-nativedesktop" packageParameters="--includeRecommended" />
    <package id="visualstudio2017-workload-nativegame" packageParameters="--includeRecommended" />
    <package id="visualstudio2017-workload-manageddesktop" packageParameters="--includeRecommended" />
    <package id="visualstudio2017-workload-managedgame" packageParameters="--includeRecommended" />
    <package id="sublimetext3" />
    <package id="vscode" />
    <package id="vim" />
    <package id="winmerge" />
    <package id="itch" />
    <package id="goggalaxy" />
    <package id="steam" />
    <package id="unity" />
    <package id="unity-webgl" />
    <package id="blender" />
    <package id="paint.net" />
    <package id="adobereader" />
    <package id="winscp" />
    <package id="windirstat" />
    <package id="inconsolata" />
    <package id="hackfont" />
</packages>
